/*
Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.
        on line 8 of normalize.css

3: /* ==========================================================================
4:    HTML5 display definitions
5:    ========================================================================== */
6: 
7: /*
8:  * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
9:  */
10: 
11: article,
12: aside,
13: details,

Backtrace:
normalize.css:8
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:442:in `try_comment'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:393:in `block in tabulate'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:382:in `each'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:382:in `each_with_index'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:382:in `tabulate'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:345:in `_to_tree'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:235:in `watch'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin.rb:107:in `method_missing'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:444:in `watch_or_update'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:307:in `process_result'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:41:in `parse'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:21:in `parse!'
d:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/bin/sass:8:in `<top (required)>'
d:/Ruby193/bin/sass:23:in `load'
d:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.\A         on line 8 of normalize.css\A \A 3: /* ==========================================================================\A 4:    HTML5 display definitions\A 5:    ========================================================================== */\A 6: \A 7: /*\A 8:  * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.\A 9:  */\A 10: \A 11: article,\A 12: aside,\A 13: details,"; }
